* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
}

table {
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #ed1c40;
    width: 500px;
    margin: 50px auto;
    border-radius: .25rem;
}

thead tr:first-child {
    background: #ed1c40;
    color: #fff;
    border: none;
}

th:first-child, td:first-child {
    padding: 0 15px 0 20px;
}

thead tr:last-child th {
    border-bottom: 3px solid #ddd;
}

tbody tr:hover {
    background-color: #f2f2f2;
    cursor: default;
}

tbody tr:last-child td {
    border: none;
}

tbody td {
    border-bottom: 1px solid #ddd;
}

td:last-child {
    text-align: right;
    padding-right: 10px;
}

.button {
    color: #aaa;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -4px;
}

.edit:hover {
    color: #0a79df;
}

.delete:hover {
    color: #dc2a2a;
}

#submit {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.submit {
    text-align: right;
}

.input-group {
    color: #333;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin: 0 20px 10px;
    width: 200px;
}

label {
    display: block;
    margin-bottom: 2px;
}

input[type=text] {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 13px;
    height: 33px;
    margin: 0;
    padding: 0 0 0 15px;
    width: 100%;
}

.error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
}

.input-group .error-message {
    display: none;
}

/* Error Styling */

.error label {
    color: #cc0033;
}

.error input[type=text] {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
    outline: none;
}

.error .error-message {
    display: inline-block;
}

.table {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.row {
    display: table-row;
}
